# aliases

alias ss='export HTTP_PROXY=http://127.0.0.1:7890 HTTP_PROXYS=http://127.0.0.1:7890 ALL_PROXY=http://127.0.0.1:7890'
alias uss='unset ALL_PROXY; unset HTTP_PROXY; unset HTTPS_PROXY'

alias more="less"

alias vi="vim"

#alias vi="emacs"
#alias vim="emacs"

# common

alias ips="ifconfig | grep -E '\d+\.\d+\.\d+\.\d+ netmask' | awk '{print $2}' | sed -n '2p'"

alias qemu="qemu-system-x86_64"

