# working files
.vim/viminfo
.vim/.netrwhist

# git credential file
.gitconfig.local

# no thx
node_modules

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# zsh
.zshrc.local

# emacs
spacemacs.env
tags
GPATH
GRTAGS
GTAGS
.projectile
.#*

# php
.php_cs.cache

.editorconfig
grumphp.yml
